[Unit]
Description=Harry Potter Screengrab Bluesky Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=reiberry
WorkingDirectory=/home/reiberry/personal/hp_screens_bot
Environment="PATH=/home/reiberry/personal/hp_screens_bot/venv/bin"
EnvironmentFile=/home/reiberry/personal/hp_screens_bot/.env
ExecStart=/home/reiberry/personal/hp_screens_bot/venv/bin/python main.py
Restart=always
RestartSec=15
StandardOutput=append:/home/reiberry/personal/hp_screens_bot/logs/systemd.log
StandardError=append:/home/reiberry/personal/hp_screens_bot/logs/systemd-error.log

[Install]
WantedBy=multi-user.target
